.suggest {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1120px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 16px;
    position: relative;
    top: -80px;
    box-shadow: 0 4px 4px #00000036;
}

.suggest-wrap {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.suggest-content {
    display: flex;
}

.suggest__main {
    margin-left: 32px;
    margin-top: 9px;
}

.suggest__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.suggest__subtitle {
    font-size: 16px;
    margin-top: 5px;
}

.suggest__link {
    display: flex;
    margin-top: 5px;
}

.suggest__link:hover {
    text-decoration: none;
}

.suggest__link-text {
    font-weight: bold;
    margin-right: 5px;
}

.suggest__link-icon:hover {
    background: #B7B7B7;
}

.suggest_footer{
    max-width: 232px;
}

.footer__header {
    display: flex;
}

.header-avatar {
    display: none;
}

.header-avatar_active {
    display: block;
}

.footer__header-text {
    margin-left: 10px;
}

.header-vip__icon {
    display: none;
}

.footer__button {
    max-width: 232px;
    margin-top: 10px;
}

.footer__button-submit {
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px ;
    background-color: #0D870D;
    box-shadow: 0 4px 4px #00000036;
    color: white;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .suggest {
        margin: 0 15px;
    }
}

@media (max-width: 925px) {
    .suggest {
        position: static;
        margin-top: 25px;
        box-shadow: 0 10px 40px #00000015;
    }
}

@media (max-width: 775px) {
    .suggest-wrap {
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }

    .suggest-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .suggest-content::after {
        content: "";
        width: 100%;
        background: gray;
        height: 1px;
        margin: 24px 0;
        display: block;
        opacity: 0.2;
    }

    .suggest__link {
        justify-content: center;
    }

    .suggest__main {
        margin-left: 0;
    }

    .suggest__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer__button {
        width: 100%;
    }
}